<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../../../style/output.css" rel="stylesheet">
</head>

<body>
  <div class="card flex flex-col justify-center-center w-full gap-2">
    <h1 class="font-medium text-2xl">Meu Perfil</h1>
    <div class="space-y-3">
      <div class="flex items-center gap-3">
        <div class="flex items-center justify-center border-2 border-black rounded-full w-12 h-12">
          <h2 class="font-semibold text-2xl">G</h2>
        </div>
        <div class="flex flex-col">
          <p class="text-lg font-medium">Guilherme Mota</p>
          <p>Informática</p>
        </div>
      </div>
      <div>
        
        <p><span class="font-medium">Carga Horária:</span> 10h de 40h semanais</p>
        <p><span class="font-medium">Cursos Inscritos:</span> Nenhum</p>
      </div>
    </div>
  </div>
</body>

</html>