<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../../../style/output.css" rel="stylesheet">
</head>

<body>
  <ul id="ulDiscipline" class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-6">
    <!-- <li class="flex flex-col card">
    <div>
      <div class="flex justify-between">
        <h2 class="text-xl font-semibold">Ads - Técnico (1P)</h2> 
        <p class="font-medium badge badge-outline">Noturno</p> 
      </div>
      <p>Organização de Computadores - 6h semanais</p>
    </div>
    <button id="teste" class="btn btn-default self-start">Inscrever-se</button>
    </li> -->
  </ul>
</body>
<script type="module" src="../../../../dist/js/pages/registerDisciplines/availableDisciplines.js"></script>

</html>